<div class="container">
  <div>
    <mat-form-field style="width:50%">
      <input type="text" [(ngModel)]="empname" matInput placeholder="Enter your Name">
    </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%">
        <input type="text" [(ngModel)]="empaddress" matInput placeholder="Enter Your Address">
        </mat-form-field>
     </div>
     <div>
       <mat-form-field style="width: 50%">
         <input type="text" [(ngModel)]="empmobile" matInput placeholder="Enter Mobile Number">
         </mat-form-field>
       </div>
       <div>
         <mat-form-field style="width: 50%">
           <input type="text" [(ngModel)]="empsalary" matInput placeholder="salary">
           </mat-form-field>
         </div>
         <div class="button">
           <button type="button" (click)="funinsert()">Insert</button>
           </div>
           <div>
             <table class="table table-striped" style="width: 800px;">
               <thead>
                 <th>EMP Name</th>
                 <th>EMP Address</th>
                 <th>EMP Mobile</th>
                 <th>EMP Salary</th>
                 <th>Edit</th>
                 </thead>
                 <tbody>
                   <tr *ngFor="let x of var_data">
                     <ng-container *ngIf="temp!=x._id; else elsediv">
                     <td>{{x.EmpName}}</td>
                     <td>{{x.EmpAddress}}</td>
                     <td>{{x.EmpMobile}}</td>
                     <td>{{x.EmpSalary}}</td>
                     <td>
                       <button type="button" class="btn btn-info" (click)="funEdit(x)">Edit</button>
                       </td>
                     </ng-container>
                     </tr>
                   </tbody>
               </table>
              </div>  
               <ng-template #elsediv>
                 <td>{{selectdata._id}}</td>
                <td>
                   <input type="text" [(ngModel)]="selectdata.EmpName" class="form-control" style:"width:300px">
                 </td>
                 <td>
                    <input type="text" [(ngModel)]="selectdata.EmpAddress"  class="form-control" style:"width:300px">
                  </td>
                  <td>
                      <input type="text" [(ngModel)]="selectdata.EmpMobile" class="form-control" style:"width:300px">
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="selectdata.EmpSalary" class="form-control" style:"width:300px">
                      </td>
                 <td>
                   <input type="button" value="save" class="btn btn-success" (click)="funmodify()">
                   <input type="button" value="delete" class="btn btn-danger" (click)="this.temp=0">
                   </td>>
                 </ng-template>
              
  </div>